<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rogerli.flow.define.dao.NodeObjMapper">
    <resultMap id="BaseResultMap" type="com.github.rogerli.flow.define.entity.Node">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="FLOW_ID" jdbcType="VARCHAR" property="flowId"/>
        <result column="NODE_ID" jdbcType="VARCHAR" property="nodeId"/>
        <result column="objId" jdbcType="VARCHAR" property="objId"/>
        <result column="NODE_TYPE" jdbcType="VARCHAR" property="nodeType"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="VIEW_URL" jdbcType="VARCHAR" property="viewUrl"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, FLOW_ID, NAME, DISPLAY_NAME, NODE_TYPE, URL, VIEW_URL
    </sql>
    <select id="findByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from R_WF_DEF_NODE
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByKey" parameterType="java.lang.String">
        delete from R_WF_DEF_NODE
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.github.rogerli.flow.define.entity.Node">
        insert into R_WF_DEF_NODE (ID, FLOW_ID, NAME,
        DISPLAY_NAME, NODE_TYPE, URL, VIEW_URL)
        values (#{id,jdbcType=VARCHAR}, #{flowId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{displayName,jdbcType=VARCHAR}, #{nodeType,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{viewUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.github.rogerli.flow.define.entity.Node">
        insert into R_WF_DEF_NODE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="flowId != null">
                FLOW_ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="displayName != null">
                DISPLAY_NAME,
            </if>
            <if test="nodeType != null">
                NODE_TYPE,
            </if>
            <if test="url != null">
                URL,
            </if>
            <if test="viewUrl != null">
                VIEW_URL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="flowId != null">
                #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="displayName != null">
                #{displayName,jdbcType=VARCHAR},
            </if>
            <if test="nodeType != null">
                #{nodeType,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="viewUrl != null">
                #{viewUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByKeySelective" parameterType="com.github.rogerli.flow.define.entity.Node">
        update R_WF_DEF_NODE
        <set>
            <if test="flowId != null">
                FLOW_ID = #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="displayName != null">
                DISPLAY_NAME = #{displayName,jdbcType=VARCHAR},
            </if>
            <if test="nodeType != null">
                NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                URL = #{url,jdbcType=VARCHAR},
            </if>
            <if test="viewUrl != null">
                VIEW_URL = #{viewUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByKey" parameterType="com.github.rogerli.flow.define.entity.Node">
        update R_WF_DEF_NODE
        set FLOW_ID = #{flowId,jdbcType=VARCHAR},
        NAME = #{name,jdbcType=VARCHAR},
        DISPLAY_NAME = #{displayName,jdbcType=VARCHAR},
        NODE_TYPE = #{nodeType,jdbcType=VARCHAR},
        URL = #{url,jdbcType=VARCHAR},
        VIEW_URL = #{viewUrl,jdbcType=VARCHAR},
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <select id="findList" parameterType="com.rogerli.flow.define.model.NodeQueryModel" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM R_WF_DEF_NODE
        <trim prefix="where" prefixOverrides="and|or">
            <if test="flowId != null">AND FLOW_ID = #{flowId,jdbcType=VARCHAR}</if>
            <if test="name != null and name != ''">AND NAME like '${name}%'</if>
            <if test="displayName != null and displayName != ''">AND DISPLAY_NAME like '${displayName}%'</if>
            <if test="nodeType != null">AND NODE_TYPE = #{nodeType,jdbcType=VARCHAR}</if>
            <if test="url != null">AND URL = #{url,jdbcType=VARCHAR}</if>
            <if test="viewUrl != null">AND VIEW_URL = #{viewUrl,jdbcType=VARCHAR}</if>
        </trim>
    </select>
    <delete id="deleteByFlowId" parameterType="String">DELETE FROM R_WF_DEF_NODE
        WHERE FLOW_ID = #{flowId,jdbcType=VARCHAR}
    </delete>
</mapper>